.btn1{
  padding: 50px;
  font-size: 50px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: none;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(224,176,207,1) 5%, rgba(148,187,233,1) 45%);
}
.big{
  display: flex;
  justify-content: center;
}
.fd{
  text-align: center;
}
.btn{
  margin-top: 20px;
  border: none;
  background-color: green;
  padding: 20px 30px;
  border-radius: 20px;
  font-size: 20px;
}